
.desplegable-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 500px;
border-radius: 20px;
margin: 0 auto;
padding: 2rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
background-color: rgba(
    255,
    255,
    255,
    0.9
  ); 
}

.desplegable-label {
font-size: 1.5rem;
margin-bottom: 1rem;
text-align: center;
}

.desplegable-select {
display: block;
width: 100%;
padding: 12px;
margin-bottom: 1rem;
box-sizing: border-box;
border: none;
border-bottom: 2px solid #ddd;
}

.desplegable-select:focus {
outline: none;
border-bottom-color: #4caf50;
}
label,
select{
width: 100%;
max-width: 400px;
border-radius: 20px;
}