/* password.css */

/* Estilos para el TextField personalizado */
.custom-password-input {
    width: 100%; /* Cambia el tamaño de la caja del TextField aquí */
    /* Agrega otros estilos personalizados según sea necesario */
  }
  
  /* Estilos para la etiqueta */
  .custom-password-input .MuiInputLabel-root {
    color: black; /* Cambia el color de la etiqueta */
  }
  
  /* Estilos para el TextField */
  .custom-password-input .MuiOutlinedInput-root {
    & fieldset {
      border-color: blue; /* Cambia el color del borde cuando no está enfocado */
    }
    &:hover fieldset {
      border-color: green; /* Cambia el color del borde cuando se pasa el cursor sobre el TextField */
    }
    &.Mui-focused fieldset {
      border-color: red; /* Cambia el color del borde cuando el TextField está enfocado */
    }
  }
  